{% extends "layout.html" %}

{% block head %}
<title>Online Tutoring</title>
{% if user %}
  <link rel="stylesheet" href="/static/styles/index.css">
{% else %}
  <link rel="stylesheet" href="/static/styles/login.css">
{% endif %}
{% endblock %}

{% block body %}

{% if user %} <!-- Logged in-->
<nav class="navbar">
  <a href="#" class="brand">Online Tutoring</a>
  <ul class="nav-links">
    {% if not teacher %}
      <li><a href="/signup_teacher">Signup as Teacher</a></li>
    {% endif %}
    <li><a href="/logout">Logout</a></li>
  </ul>
</nav>
    <h1>Welcome back {{ user.firstname }}</h1>
    <div class="subject-grid">
      <div class="subject" data-subject="math">
        <a href="/subject/maths">
          <i class="fas fa-calculator"></i>
          <span>Math</span>
        </a>
      </div>
      <div class="subject" data-subject="english">
        <a href="/subject/english">
          <i class="fas fa-flask"></i>
          <span>English</span>
        </a>
      </div>
      <div class="subject" data-subject="physics">
        <a href="/subject/physics">
          <i class="fas fa-flask"></i>
          <span>Physics</span>
        </a>
      </div>
    </div>
    <br><br>
    <div class="subject-grid">
      <div class="subject" data-subject="chemistry">
        <a href="/subject/chemistry">
          <i class="fas fa-flask"></i>
          <span>Chemistry</span>
        </a>
      </div>
      <div class="subject" data-subject="biology">
        <a href="/subject/biology">
          <i class="fas fa-flask"></i>
          <span>Biology</span>
        </a>
      </div>
    </div>
{% else %}
  <div class="container" id="container">
    <div class="form-container log-in-container">
      <form action="/login" method="post">
        <h1>Login</h1>
                <br>
                <br>
        <input type="email" placeholder="Email" name="email" />
        <input type="password" placeholder="Password" name="password"/>
        <button>Log In</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-right">
          <h1>Title of the thingy</h1>
          <p>Login to uncover a world.</p>
                    <br>
                    <br>
                    <a href="/register">
                        <button >Click here to sign up</button>
                    </a>
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% endblock %}