{% extends 'layout.html' %}

{% block head %}
<title>Search for a teacher</title>
{% endblock %}

{% block body %}
    {% if teachers == None %}
        <form action="/search" method="post">
            <select name="subject" id="subject">
                {% for subject in subjects %}
                    <option value="{{ subject }}">{{ subject}}</option>
                {% endfor %}
            </select>
            <input type="submit" >
        </form>
    {% else %}
    <form action="/search" method="post">
        <select name="subject" id="subject">
            {% for subject in subjects %}
                <option value="{{ subject }}">{{ subject}}</option>
            {% endfor %}
        </select>
        <input type="submit" >
    </form>
    <h1>{{ subject }} teachers:</h1>
    <ul>
        {% for teacher in teachers %}
            <li>{{ teacher.user.firstname }} {{ teacher.user.lastname }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
 