<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup as Teacher</title>
</head>
<body>
    <h2>Signup as Teacher</h2>
    <form action="/signup_teacher" method="post">
        <label for="bio">Bio:</label><br>
        <textarea id="bio" name="bio" rows="4" cols="50" required></textarea><br>
        <label for="qualifications">Qualifications:</label><br>
        <textarea id="qualifications" name="qualifications" rows="4" cols="50" required></textarea><br>
        <h1>Subjects</h1>
        <select name="subject" id="subject">
            {% for subject in subjects %}
                <option value="{{ subject }}">{{ subject }}</option>
            {% endfor %}
          </select>
        <input type="submit" value="Submit">
    </form>
</body>
</html>