{% extends 'layout.html' %}
{% block head %}
    <title>Signup as Teacher</title>
    <link rel="stylesheet" href="/static/styles/signup_teacher.css">
<link rel="stylesheet" href="/static/styles/index.css">

{% endblock %}
{% block body %}
<nav class="navbar">
    <a href="/" class="brand">Online Tutoring</a>
    <ul class="nav-links">
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>
<br><br>
    <h1>Signup as Teacher</h1>
    <form action="/signup_teacher" method="post">
        <label for="bio">Bio:</label><br>
        <textarea id="bio" name="bio" rows="4" cols="50" required></textarea><br>
        <label for="qualifications">Qualifications:</label><br>
        <textarea id="qualifications" name="qualifications" rows="4" cols="50" required></textarea><br>
        <h1>Subjects</h1>
        <select name="subject" id="subject">
            {% for subject in subjects %}
                <option value="{{ subject }}">{{ subject }}</option>
            {% endfor %}
          </select>
        <input type="submit" value="Submit">
    </form>
{% endblock %}