{% extends 'layout.html' %}

{% block head %}
<title>Search for a teacher</title>
<link rel="stylesheet" href="/static/styles/subject.css">
<link rel="stylesheet" href="/static/styles/index.css">
{% endblock %}

{% block body %}
    <nav class="navbar">
        <a href="/" class="brand">Online Tutoring</a>
        <ul class="nav-links">
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <h1>{{ teachers[0].subject }} teachers</h1>
    <hr>
    <div class="container">
        {% for teacher in teachers %}
        <a href="/teacher/{{ teacher.id }}">
            <div class="teacher-card">
                <h2>{{ teacher.user.firstname}} {{ teacher.user.lastname }}</h2>
                <p>{{ teacher.user.age}} years old</p>
                <h4>Bio: </h4>
                <p>{{ teacher.bio }}</p>
                <h4>Qualifications</h4>
                <p>{{ teacher.qualifications }}</p>
                <div class="contact">
                    <p>{{ teacher.user.email }}</p>
                </div>
            </div>
        </a>
    {% endfor %}
    </div>
    {% if closest_teacher %}
        <h1>The closest teacher to you is</h1>
        <a href="/teacher/{{ closest_teacher.id }}">
            <div class="teacher-card">
                <h2>{{ closest_teacher.user.firstname}} {{ closest_teacher.user.lastname }}</h2>
                <p>{{ closest_teacher.user.age}} years old</p>
                <h4>Bio: </h4>
                <p>{{ closest_teacher.bio }}</p>
                <h4>Qualifications</h4>
                <p>{{ closest_teacher.qualifications }}</p>
                <div class="contact">
                    <p>{{ closest_teacher.user.email }}</p>
                </div>
            </div>
        </a>
    {% else %}
    <h1>Find closest teacher</h1>
        <form action="/subject/{{ teachers[0].subject }}" method="post">
            <input type="hidden" name="subject" value="{{ teachers[0].subject }}">
            <input type="submit" class="closest_submit">
        </form>
    {% endif %}
{% endblock %}
 